* {
    box-sizing: border-box;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: #f5f5f5;

}

/* Start Components */
.section-title {
    text-align: center;
    padding-bottom: 4rem;
}

.section-title h3 {
    font-weight: bold;
    font-size: 3rem;
}

.section-title p {
    font-size: 1rem;
    margin-bottom: 0;

}

.section-title .line {
    display: inline-block;
    width: 30px;
    background-color: #0d6efd;
    height: 5px;
}

/* End Components */

/* Start NavBar */
.nav-bar {
    padding: 0 70px;
    height: 70px;
    background-color: #0A0A0A;
}

.nav-bar .links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.nav-bar .links ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    bottom: -10px;
    transition: 0.6s;
}

.nav-bar .links .line-view ul li:hover a::after {
    width: 100%;
}

.nav-bar .links .icon-view {
    width: 25px;
}

.nav-bar .links:hover .icon-view span:nth-child(2) {
    width: 100%;
}

.nav-bar .links .icon-view span {
    background-color: #ffffff;
    height: 2px;
    display: none;
}

.nav-bar .links .icon-view span:not(:last-child) {
    margin-bottom: 3px;
}

.nav-bar .links .icon-view span:first-child {
    width: 100%;
}

.nav-bar .links .icon-view span:nth-child(2) {
    width: 50%;
    transition: 0.6s;
}

.nav-bar .links .icon-view span:last-child {
    width: 100%;
}

@media (max-width: 992px) {
    .nav-bar .links .line-view {
        display: none;
    }

    .nav-bar .links .icon-view span {
        display: block;
    }
}

/* End NavBar */

/* Start Home */
.home {
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.home .intro h3 {
    font-size: 50px;
    font-weight: 600;
}

.home .intro p {
    font-size: 30px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .home .intro h3 {
        font-size: 30px;
        font-weight: 600;
    }

    .home .intro p {
        font-size: 20px;
        font-weight: 400;
    }
}

/* End Home */

/* Start About */
.about {
    padding: 0 8rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.about .about-content {
    background-color: #ffffff;
    width: 100%;
    padding: 2rem;
}

.about .about-content .info .image-info img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.about .about-content .info .image-info .info span {
    display: inline-block;
}

.about .about-content .info .skills p {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.about .about-content .info .skills .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #cde1f8;
    position: relative;
    margin-bottom: 20px;
}

.about .about-content .info .skills .current-progress-bar {
    width: 85%;
    height: 10px;
    background-color: #0d6efd;
    position: absolute;

}

.about .about-content .info .image-info .info .gap {
    padding-bottom: 20px;
}

.about .about-content .about-me .line {
    background-color: #0d6efd;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 15%;
}

@media (max-width: 992px) {
    .about .about-content .info .image-info .info span {
        display: block;
    }

    .about .about-content {
        flex-direction: column;
    }

    .about {
        padding: 4rem 1rem;
    }
}

/* End About */

/* Start Services */
.services {
    padding: 0 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services .services-content .service {
    width: calc(100% / 3);
    flex-basis: calc(100% / 3);
}

.services .services-content .service .service-content {
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.services .services-content .service .service-content:hover .service-icon {
    background-color: #CDE1F8;
}

.services .services-content .service .service-content:hover .service-icon .icon-box {
    background-color: #007aff;
}

.services .services-content .service .service-content:hover .service-icon .icon-box i {
    color: #ffffff;
}

.services .services-content .service .service-content .service-icon {
    width: 6rem;
    height: 6rem;
    background-color: #007aff;
    margin-bottom: 30px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    transition: 0.6s;
}

.services .services-content .service .service-content .service-icon .icon-box {
    width: 5rem;
    height: 5rem;
    background-color: #ffffff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s;
}

.services .services-content .service .service-content .service-icon .icon-box i {
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s;
}

.services .services-content .service .service-content h3 {
    color: #1e1e1e;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.services .services-content .service .service-content p {
    color: #4e4e4e;
}

@media (max-width: 1200px) {
    .services .services-content .service {
        width: calc(100% / 2);
        flex-basis: calc(100% / 2);
    }

    .services {
        padding: 4rem 0rem;
    }
}

@media (max-width: 768px) {
    .services .services-content .service {
        width: 100%;
        flex-basis: 100%;
    }
}

/* End Services */

/* Start Statistics */
.statistics {
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(#0077ff85, #0077ff81), url(../images/counters-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin-bottom: 2rem;
    position: relative;
}

.statistics .overlay {
    width: 100%;
    height: 100%;

}

.statistics .overlay .statistics-content {
    width: 100%;
    padding-top: 15%;
}

.statistics .overlay .statistics-content .statistic-item {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.statistics .overlay .statistics-content .statistic-item .outer-box {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 7px solid #CDE1F8;
    margin-bottom: 10px;
    position: relative;
}

.statistics .overlay .statistics-content .statistic-item i {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statistics .overlay .statistics-content .statistic-item h3 {
    color: #ffffff;
}

.statistics .overlay .statistics-content .statistic-item p {
    color: #ffffff;
    margin: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .statistics {
        height: auto;
    }

    .statistics .overlay .statistics-content {
        flex-direction: column;
        align-content: center;
    }

    .statistics .overlay .statistics-content {
        padding: 30px;
    }

    .statistics .overlay .statistics-content .statistic-item {
        padding-bottom: 40px;
    }
}

/* End Statistics */

/* Start Portfolio */
.portfolio {
    padding: 0 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portfolio .portfolio-content .project {
    width: calc(100% / 3);
    flex-basis: calc(100% / 3);
}

.portfolio .portfolio-content .project .project-content {
    margin: 10px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.portfolio .portfolio-content .project .project-content .image {
    overflow: hidden;
}

.portfolio .portfolio-content .project .project-content:hover .image img {
    transform: scale(1.3);
}

.portfolio .portfolio-content .project .project-content .image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.6s;
}

.portfolio .portfolio-content .project .project-content .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.portfolio .portfolio-content .project .project-content .details .project-info h3 {
    font-size: 20px;
}

.portfolio .portfolio-content .project .project-content .details .project-info span {
    font-weight: 300;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-content .project .project-content .details .project-info span:nth-child(2) {
    color: #0078ff;
}

.portfolio .portfolio-content .project .project-content .details .project-info span:nth-child(1) {
    color: #000000;
}

.portfolio .portfolio-content .project .project-content .details .button {
    width: 2rem;
    height: 2rem;
    border: 2px solid #007aff;
    border-radius: 100px;
}

.portfolio .portfolio-content .project .project-content .details .button {
    position: relative;
}

.portfolio .portfolio-content .project .project-content .details .button i {
    color: #0078ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
    .portfolio .portfolio-content .project {
        width: calc(100% / 2);
        flex-basis: calc(100% / 2);
    }

    .portfolio {
        padding: 4rem 0rem;
    }
}

@media (max-width: 768px) {
    .portfolio .portfolio-content .project {
        width: 100%;
        flex-basis: 100%;
    }
}

/* End Portfolio */

/* Start Carousel */
.carousel {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#0077ff85, #0077ff81), url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    position: relative;
}

.carousel .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel .overlay .carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel .overlay .carousel-content img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}


.carousel .overlay .carousel-content h3 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.carousel .overlay .carousel-content p {
    color: #ffffff;
    line-height: 1.8;
}

.carousel .overlay .carousel-content .indicators {
    padding: 0;
}

.carousel .overlay .carousel-content .indicators .indicator {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 100px;
}

@media (max-width: 768px) {
    .carousel .overlay .carousel-content {
        position: absolute;
        left: 0%;
        transform: translate(0%, -50%);
    }
}

/* End Carousel */

/* Start Blog */
.blogs {
    padding: 0 8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.blogs .blogs-content .blog {
    width: calc(100% / 3);
    flex-basis: calc(100% / 3);
    margin: 0;
    padding: 0;

}

.blogs .blogs-content .blog .blog-content {
    margin: 10px 10px;
    border-radius: 10px;
    border: solid 1px lightgray;
    background-color: #ffffff;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.blogs .blogs-content .blog .blog-content img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blogs .blogs-content .blog .blog-content .details {
    padding: 30px 10px;
}

.blogs .blogs-content .blog .blog-content .details h3 {
    font-size: 1.3rem;
}

.blogs .blogs-content .blog .blog-content .details p {
    color: #4e4e4e;
    margin: 0;
}

.blogs .blogs-content .blog .blog-content .info {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    align-items: center;
}

.blogs .blogs-content .blog .blog-content .info img {
    width: 40px;
    border-radius: 100px;
}

.blogs .blogs-content .blog .blog-content .info p {
    margin: 0;

}

.blogs .blogs-content .blog .blog-content .info p:first-of-type {
    padding-left: 1rem;
    flex: 1;
}

.blogs .blogs-content .blog .blog-content .info p:last-of-type {
    padding-left: 0.4rem;
}

.blogs .blogs-content .blog .blog-content .details {
    position: relative;
}

.blogs .blogs-content .blog .blog-content .details .blog-type {
    background-color: #0078ff;
    border-radius: 5px;
    position: absolute;
    top: -10%;
    padding: 10px 20px;
    left: 50%;
    transform: translate(-50%, -10%);
}

.blogs .blogs-content .blog .blog-content .blog-type p {
    font-weight: 700;
    color: #ffffff;
}

@media (max-width: 1199px) {
    .blogs {
        padding: 4rem 0rem;
    }

    .blogs .blogs-content {
        margin: 0;
        padding: 0;
    }

    .blogs .blogs-content .blog {
        width: 100%;
        flex-basis: 100%;
    }
}

/* End Blog */

/* Start Contant */
.contact {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    padding: 6rem 3rem 4rem 3rem;
    background-image: linear-gradient(#0077ff85, #0077ff81), url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.contact .contact-content {
    border: solid 1px #0078ff;
    padding: 50px 40px;
}

.contact .contact-content .line {
    width: 15%;
    height: 3px;
    background-color: #0078ff;
}

.contact .contact-content .contact-info {
    width: 50%;
}

.contact .contact-content .send-message {
    width: 50%;
}

.contact .contact-content .send-message form {
    padding: 30px 0;
}

.contact .contact-content .send-message form input {
    border: #DEE2E6 1px solid;
    padding: 10px;
}

.contact .contact-content .send-message form input:focus {
    border-color: lightblue;
    box-shadow: 0 0 10px #0078ff;
    outline: none;
}

.contact .contact-content .send-message form textarea {
    height: 10rem;
    border: #DEE2E6 1px solid;
    padding-top: 10px;
}

.contact .contact-content .send-message form textarea:focus {
    border-color: lightblue;
    box-shadow: 0 0 10px #0078ff;
    outline: none;
}

.contact .contact-content .send-message .button {
    margin-bottom: 30px;
}

.contact .contact-content .send-message .send-message-btn {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.6s;
    left: 50%;
}


.contact .contact-content .send-message .send-message-btn:hover {
    background-color: #3393FF;
    box-shadow: 0 0 10px #0078ff;
}

.contact .contact-content .contact-info p {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 300;
}

.contact .contact-content .contact-info .contact-details i {
    color: #0078ff;
    padding-right: 10px;
}

.contact .contact-content .contact-info .contact-details:nth-of-type(3) {
    padding: 10px 0;
}

.contact .contact-content .contact-info .contact-details .media {
    margin-top: 40px;
}

.contact .contact-content .contact-info .media .media-item {
    border-radius: 100px;
    border: 3px solid #0078ff;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: relative;
}

.contact .contact-content .contact-info .media .media-item i {
    position: absolute;
    transition: 0.6s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 768px) {
    .contact .contact-content {
        flex-direction: column;
        padding: 50px 10px;
    }

    .contact .contact-content .send-message {
        width: 100%;
    }

    .contact .contact-content .contact-info {
        width: 100%;
    }
}
/* End Contant */

/* Start Footer */
footer{
    background-color: #0062d3;
    width: 100%;
    padding: 40px 0;
}

footer span{
    color: #ffffff;
    line-height: 2;
}

footer span{
    color: #ffffff;
    line-height: 2;
}
/* End Footer */